# SentinelX Environment Configuration
# API Keys can be added here OR directly configured securely via the SentinelX UI (Settings Page)

SENTINELX_SECRET_KEY=sentinelx_secret_master_vapt_key_2026

# Threat Intelligence API Keys (Optional - Get free API keys from official providers)
VIRUSTOTAL_API_KEY=4337244deda6a21fc6f89169ac093c2f869a6e0f68fc687ae65d8506c61952cf
ABUSEIPDB_API_KEY=b8e86cb8a66bb3e1549d63dd7ca351e58414b441365705bbf9934927aeef55b2ddbb8dad7529fed8
SHODAN_API_KEY=mHlEqJHIZ9u6UN9u6r07pXn8qA7B2FSA